/*** General ***/
* {
    font-family: 'Roboto',
        normal;
    color: black;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f7f7f7;



/*** Header ***/
.Logo {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;

    i {
        display: flex;
        position: absolute;
        left: 10px;
        color: #353535;
        font-size: 20px;
    }
}



nav img {
    flex-shrink: 0;
    width: 100%;
    height: 275px;
    object-fit: cover;

}

/*** Carte ***/

main {
    background: #f7f7f7;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    position: relative;
}

.menu {
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;

    h3 {
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 30px;
        border-bottom: 2px solid;
        border-color: #99E2D0;
        width: 45px;
    }
}

.heart-full {
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}

.heart-full:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(125deg, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.title {
    display: flex;
    font-size: 26px;
    font-family: Shrikhand;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px;

}


.card {
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    animation: appear 1s;
    animation-fill-mode: both;

    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }

    }

}

.price {
    font-weight: 700;
    right: 35px;
    font-weight: 700;
    font-size: 14px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 7px;
}

.card-content {
    padding-left: 15px;
    display: flex;



    &:hover {
        .card-content_check {
            margin-right: 0;
        }

        i {
            animation: quarterspin 0.5s ease-in-out;
        }

    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.card-content_description {
    padding: 10px;
    overflow: hidden;

}

.card-content_check {
    background-color: $tertiary-color;
    margin-right: -3rem;
    border-radius: 0px 15px 15px 0px;
    width: 3rem;
    transition: margin-right 0.5s;
    display: grid;
    place-items: center;
    flex-shrink: 0;

    i {
        display: grid;
        place-items: center;
        background: white;
        aspect-ratio: 1;
        width: 17px;
        border-radius: 1rem;
        font-size: 11px;
        color: $tertiary-color;
    }

}

@keyframes quarterspin {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}


/*** Bouton ***/

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}



.btn {
    border-radius: 25px;
    background: var(--button-gradient, linear-gradient(125deg, #9356DC 0%, #FF79DA 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 0px;
    padding: 15px 50px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

}

.btn:hover {
    transform: scale(1.03);
    background: var(--button-gradient, linear-gradient(125deg, #9d78cc 0%, #e98ccf 100%));
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.25);

}

/*** Footer ***/

.footer {
    background-color: #353535;
    list-style: none;
    padding: 1px 20px;

    p {
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 20px;
    }
}

.footer-list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;


    li {
        color: white;
        font-weight: 400;
        padding-bottom: 7px;
    }

    i {
        color: white;
        gap: 10px;

    }

    a {
        color: white;
    }
}


/*** Media queries ***/

@media (min-width: 1024px) {

    main {
        width: 75%;
        margin: auto;
        margin-top: -35px;
    }

    .menu {
        width: 65%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .price {
        position: relative;
        right: 10px;
    }

    .title {
        justify-content: center;
        gap: 30px;
        margin-top: 35px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: baseline;
        gap: 50px;
        padding-top: 25px;
    }

    .footer-list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 25px;

        li {
            display: flex;
            gap: 15px;
        }
    }

}